---
import { Icon } from 'astro-icon/components';
import { Button } from '@components/ui/button';

import MainLayout from '@/layouts/MainLayout.astro';
import Hero from '@/components/Hero.astro';
import Scroll from '@/components/Scroll.astro';
import Insights from '@/components/Insights.astro';
---

<MainLayout>
  <main class="mx-auto flex min-h-screen w-screen flex-col overflow-x-hidden">
    <Hero />
    <Scroll />
  </main>
</MainLayout>
