---
import { Icon } from 'astro-icon/components';
import StatusBadge from '@components/StatusBadge.astro';
---

<div
  class="mx-auto my-10 flex h-96 w-full max-w-screen-md flex-col items-center justify-center space-y-4 px-4 text-center md:mb-0"
>
  <StatusBadge label="Coming Soon">
    <Icon name="lucide:bell-ring" />
  </StatusBadge>
  <h1
    class="line-clamp-2 max-w-lg bg-gradient-to-r from-primary/80 to-primary/40 bg-clip-text text-4xl font-bold tracking-tight text-transparent"
  >
    No Pricing Yet, Enjoy Free Experience
  </h1>
</div>
