<div class="mx-auto my-14 flex h-full flex-col items-center gap-3 font-sans">
  <h1 class="font-sans text-3xl font-semibold text-zinc-800 md:text-5xl">
    Used By
  </h1>
  <div
    class="container flex w-full flex-wrap items-center justify-center gap-8"
  >
    <div class="size-28 shrink-0 border border-neutral-700"></div>
    <div class="size-28 shrink-0 border border-neutral-700"></div>
    <div class="size-28 shrink-0 border border-neutral-700"></div>
    <div class="size-28 shrink-0 border border-neutral-700"></div>
  </div>
  <div></div>
</div>
