---
type Props = {
  label: string;
};

const { label } = Astro.props;
---

<div
  class="group relative mx-auto mb-8 flex w-fit cursor-default items-center gap-1 rounded-full bg-primary/60 px-4 py-2"
>
  <div
    class="absolute inset-0 -z-10 mx-auto h-full w-full rounded-full bg-primary/60 blur duration-1000 group-hover:blur-md"
  >
  </div>
  <slot />
  <p class="leading-wide text-xs font-medium tracking-wide text-slate-100">
    {label}
  </p>
</div>
