---
import { Input } from '@components/ui/input';
import { Button } from '@components/ui/button';
---

<div
  class="mx-auto mb-12 mt-8 w-11/12 max-w-sm rounded-lg border border-primary/70 px-3 py-4 shadow-lg shadow-primary"
>
  <div class="mb-6 space-y-1">
    <label class="mb-4 text-slate-500">Email Address:</label>
    <Input />
  </div>
  <Button className="w-full rounded-2xl">Subscribe to Newsletter</Button>
</div>
